body {
	padding: 0;
	margin: 0;
}

.content-grid {
	display: grid;
	text-align: center;
	grid-template-columns: 2rem [full-width-start] auto [left-side-start] auto [breakout-start right-side-start] auto [content-start] auto [content-end] auto [breakout-end left-side-end] auto [right-side-end] auto [full-width-end] 2rem;

	grid-template-rows: 2rem [full-height-start] auto [header-row-start] auto [header-row-end] auto [hero-text-row-start] auto [hero-text-row-end] auto [central-nav-row-start] auto [central-nav-row-end] auto [stat-card-row-start] auto [full-height-end] 5rem [stat-card-row-end];

	background-image: url();
}

.content-grid > * {
	grid-column: content;
}
.content-grid > .breakout {
	grid-column: breakout;
}
.content-grid > .full-width {
	grid-column: full-width;
}

.content-grid > .left-side {
	grid-column: left-side;
}
.content-grid > .right-side {
	grid-column: right-side;
}

.content-grid > .full-height {
	grid-row: full-height;
}
.content-grid > .header-row {
	grid-row: header-row;
}
.content-grid > .hero-text-row {
	grid-row: hero-text-row;
}
.content-grid > .central-nav-row {
	grid-row: central-nav-row;
}
.content-grid > .stat-card-row {
	grid-row: stat-card-row;
}

/* header and nav classes */
.header-container {
	display: flex;
}

.nav-container {
	display: flex;
}

.stat-cards {
	display: flex;
}

.single-card {
	border: 1px solid red;
}
