body {
	padding: 0;
	margin: 0;
}

.content-grid {
	display: grid;
	text-align: center;
	grid-template-columns: 10px[full-width-start] 1fr [left-side-start] 1fr [breakout-start left-side-end] 1fr [content-start] 1fr [content-end] 1fr [breakout-end right-side-start] 1fr [right-side-end] 1fr [full-width-end] 10px;
}

.content-grid > * {
	grid-column: content;
}
.content-grid > .breakout {
	grid-column: breakout;
}
.content-grid > .full-width {
	grid-column: full-width;
}

.content-grid > .left-side {
	grid-column: left-side;
}
.content-grid > .right-side {
	grid-column: right-side;
}
.content-grid > .far-right-side {
	grid-column: right-side-end / full-width-end;
}
.content-grid > .far-left-side {
	grid-column: full-width-start / left-side-start;
}
